@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
}

.global-layout {
  @apply grid grid-cols-6 grid-rows-6 gap-4 bg-slate-50 overflow-hidden p-3 h-full;
}

.link {
  @apply text-blue-500 font-medium transition-all 
hover:text-blue-700 hover:underline 
visited:text-purple-500 visited:underline
visited:hover:text-purple-700 visited:hover:underline
active:hover:text-red-400 active:hover:underline;
}

.text-clickable {
  @apply cursor-pointer font-medium transition-colors active:text-red-400 active:hover:focus:text-red-600;
}

.btn-common {
  @apply border-2 m-2 py-1 px-4 transition-colors hover:bg-slate-200 active:hover:bg-rose-200;
}

/* post */
details[open] summary ~ * {
  animation: sweep 0.5s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
