.react-autosuggest__suggestions-container {
  visibility: hidden;
}

.react-autosuggest__suggestions-container--open {
  visibility: visible;
  display: block;
  max-height: 300px;
  overflow-y: scroll;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  width: 95%;
}

.react-autosuggest__suggestion:not(:first-child) {
  border-top: 1px solid #ddd;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #0c7eaf;
}
