html {
  /* font-size: 62.5%; */
  scroll-behavior: smooth;
  letter-spacing: -0.004em;
  word-break: keep-all;
  overflow-wrap: break-word;
}

body {
  scroll-behavior: smooth;
}

.children-svg-translate-x-2 svg {
  @apply translate-x-2;
}

/* navigation tree */
.inactive-tree-node > button .folder-open {
  @apply hidden;
}
:not(.inactive-tree-node) > button .folder-open {
  @apply visible;
}

.inactive-tree-node > button .folder-close {
  @apply visible;
}
:not(.inactive-tree-node) > button .folder-close {
  @apply hidden;
}

/* tailwind config */
.global-layout {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
  background-color: rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 3rem;
  height: 100%;
}

.link {
  @apply text-blue-500 font-medium transition-all
hover:text-blue-700 hover:underline
visited:text-purple-500 visited:underline
visited:hover:text-purple-700 visited:hover:underline
active:hover:text-red-400 active:hover:underline;
}

.text-clickable {
  @apply cursor-pointer font-medium transition-colors active:text-red-400 active:hover:focus:text-red-600;
}

.btn-common {
  @apply border-2 m-2 py-1 px-4 transition-colors hover:bg-slate-200 active:hover:bg-rose-200;
}

/* post */
details[open] summary ~ * {
  animation: sweep 0.5s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* screen size > 1280px */
@media (max-width: 1280px) {
  html {
    font-size: 100%;
  }
}
/* screen size > 1024px */
@media (max-width: 1024px) {
  html {
    font-size: 90%;
  }
  .global-layout {
    padding: 1rem;
  }
}
/* screen size > 768px */
@media (max-width: 768px) {
  html {
    font-size: 80%;
  }

  .global-layout {
    padding: 0.5rem;
  }
}
